

.react-player{
   
        /* position: absolute; */
        top: -400px;
        left: 82%;
}

@media screen and (max-width:600px) { 
	.player-wrapper{
        position: relative;
        width: 95vw;
        height: 30vh;
        left: 0vw;
        margin:5% 2%;
    
    }}
    @media screen and (min-width:601px) 
    {
        .player-wrapper{
    position: absolute;
    width: 40%;
    height: 50%;
    left: 50vw;
    margin: 7% 2%;
}
    }
   
